* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 90vh;
  background: white;
  font-family: 'Tahoma', 'Cordia New', sans-serif;
}

.sidebar {
  width: 80px;
  height: 100%;
  background-color: black;
  padding: 40px;
  box-sizing: border-box;
  color: white;
  overflow: hidden;
  border-radius: 0 20px 20px 0;
  border-right: none;
  transition: .75s ease;
  position: relative;
  z-index: 10;
  position: fixed;
}

.sidebar:hover {
  width: 230px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

li {
  padding: 13px 5px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: #8da6f7;
}

.nav-link {
  display: inline-flex;
  column-gap: 1rem;
  color: inherit;
  text-decoration: none;
}

.item-left {
  padding-left: .10rem;
}

.attribute {
  position: absolute;
  bottom: 10px;
}

.item-icon {
  font-size: 20px;
}

.item-text {
  font-size: 14px;
}

.dashboard {
  padding: 20px;
  width: calc(100% - 80px);
  max-width: 2000px;
  margin-left: 80px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h2 {
  font-size: 24px;
  color: #333;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-right img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.welcome {
  display: flex;
  align-items: center;
  background: #cedef3;
  border-radius: 15px;
  margin-bottom: 25px;
  flex-wrap: wrap;
}

.welcome-text {
  flex: 1;
  margin-left: 50px;
}

.welcome-text h3 {
  font-size: 22px;
  color: #333;
  margin-bottom: 10px;
}

.welcome-text p {
  font-size: 14px;
  color: #666;
}

.welcome img {
  max-width: 200px;
  margin-right: 50px;
}

.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 15px;
  margin-bottom: 25px;
}

.stat {
  padding: 30px;
  border-radius: 12px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
}

.yellow { background: black; }
.purple { background: black; }
.pink { background: black; }
.blue { background: black;}

.tasks h4 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 18px;
  color: #333;
}

.task {
  background: #f8f9ff;
  border-radius: 12px;
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}

.profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  max-width: 13%;
  max-height: 10%;
}

.search-box {
  display: flex;
  align-items: center;
}

.search-box input {
  padding: 5px 20px;
  border: 1px solid #ccc;
  border-radius: 20px 0 0 20px;
  outline: none;
  font-size: 13px;
}

.search-box button {
  padding: 5px 15px;
  border: 1px solid #ccc;
  border-left: none;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 0 20px 20px 0;
  font-size: 13.5px;
}

.search-box button:hover {
  background-color: #cedef3;
}

 .manus {
  display: flex;
  justify-content: center; 
  gap: 20px;             
}

.taskk {
  background: #f9fbff;
  padding: 20px;
  border-radius: 12px;
  width: 300px;

}

.taskk form {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.taskk label {
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: 500;
  color: #333;
}

.taskk input, 
.taskk select,
.taskk textarea {
  padding: 9px 12px;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
}

#member1, #member2, #member3, #member4 {
  margin-top: 10px;
  padding: 8px;
  background: #f1f5ff;
  border-radius: 8px;
}

.boxs {
  display: flex;
  gap: 20px;                
  justify-content: center;
}

.boxs a {
  text-decoration: none;
  display: flex;
  width: 670px;
}

.boxs a:hover .black-box {
  background-color: #cedef3;
}

.black-box {
  flex: 1;            
  height: 50px;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 20px;
}

.taskk {
  background: #f9fbff;
  padding: 20px;
  border-radius: 12px;
  width: 100%;
  max-width: 1355px;
  max-height: 45vh;      
  overflow-y: auto;    
  align-items: center;
}

.btn-group {
  display: flex;
  gap: 12px; 
  margin-top: 20px;
}

.btn-reset, .btn-submit {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-reset {
  background: #f1f1f1;
  color: #333;
}

.btn-reset:hover {
  background: #ddd;
}

.btn-submit {
  background: black;
  color: #fff;
}

.btn-submit:hover {
  background: #5f91c6;
}

.welcome {
  display: flex;
  align-items: center;
  background: #cedef3;
  border-radius: 15px;
  margin-bottom: 25px;
  flex-wrap: wrap;
  margin-top: 20px;
  align-items: center;
}

.welcome-text {
  flex: 1;
  margin-left: 50px;
}

.welcome-text h3 {
  font-size: 22px;
  color: #333;
  margin-bottom: px;
}

.welcome-text p {
  font-size: 14px;
  color: #666;
}

.welcome img {
  max-width: 200px;
  margin-right: 50px;
}

body, input, select, textarea, button, label, h5 {
  font-family: 'Kanit', sans-serif;
}

.tasks p {
  font-size: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
  color: #666;
}

table { 
  width: 100%; 
  border-collapse: collapse; 
  margin-bottom: 10%;
}

th, td { 
  padding: 10px; 
  text-align: left; 
  border-bottom: 1px solid #ccc; 
}

th { 
  background: #cedef3; 
  color: black; 
}
  
tr:hover { 
  background: #f1f1f1; 
}

.btn { 
  padding: 5px 10px; 
  background: black; 
  color: #fff; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
}
  
.btn:hover { 
  background: #8da6f7; 
}

.tabs { 
  display: flex; 
  border-bottom: 2px solid #ccc; 
  margin-bottom: 15px;
  gap: 10px;
  cursor: pointer;
}
  
.tab { 
  padding: 10px 20px; 
  cursor: pointer; 
}
  
.tab.active { 
  border-bottom: 3px solid #8da6f7; 
  font-weight: bold; 
  color: #8da6f7; 
}

.tab-content { 
  display: none; 
  background: #fff; 
  padding: 20px; 
  border-radius: 8px; 
  box-shadow: 0 0 5px rgba(0,0,0,0.1); 
}

.progress-container { 
  background: #e0e0e0; 
  border-radius: 20px; 
  width: 100%; 
  height: 20px; 
  margin-top: 5px; 
}
  
.progress-bar { 
  height: 10%; 
  background: #28a745; 
  border-radius: 20px; 
  width: 0%; 
  text-align: center; 
  color: #fff; 
  line-height: 20px; 
}

.week-table {
  width: 100%; 
  border-collapse: collapse; 
}
  
.week-table th, .week-table td { 
  border: 1px solid #ccc; 
  padding: 8px; 
}
  
.week-table th { 
  background: #cedef3; 
  color: black; 
}

.card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

.card li {
  padding: 1px;
}

.card p {
  margin: 6px 0;
}

.label {
  font-weight: bold;
  color: black;
}

.file-link {
  color: #2980b9;
  text-decoration: none;
}

.file-link:hover {
  text-decoration: underline;
}

textarea {
  width: 100%;
  min-height: 80px;
  margin-top: 8px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  resize: vertical;
}

.btn {
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 8px;
  font-size: 14px;
}

.btn-approve { 
  background: black; 
  color: #fff; 
}

.btn-reject { 
  background: black; 
  color: #fff; 
}

.section {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

.section button { 
  margin-top: 15px; 
  padding: 8px 16px; 
  background: black; 
  color: white; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer;
}

.section button:hover { 
  background: #cedef3; 
}

.section label { 
  display: block; 
  margin-top: 10px; 
}

.section textarea { 
  width: 100%; 
  height: 80px; 
}

.section h2 {
  margin-bottom: 10px
}

.section label { 
  display: block; 
  margin-top: 10px; 
}

.section textarea { 
  width: 100%; 
  height: 80px; 
}

.section button { 
  margin-top: 15px; 
  padding: 8px 16px; 
  background: black; 
  color: white; 
  border: none; 
  border-radius: 4px; 
}

.section button:hover { 
  background: #cedef3; 
}

.section table { 
  width: 100%; 
  border-collapse: collapse; 
  margin-top: 10px; 
}

.bell-link {
  font-size: 35px;
  color: black; 
  text-decoration: none;
  transition: transform 0.2s ease, color 0.2s ease;
}

.bell-link:hover {
  transform: scale(1.2) rotate(-10deg);
  color: #cedef3;
}

