body {
  margin: 10px 40px;
  background-color: #FFFF;
  line-height: 1.6;
  letter-spacing: 0.5px;
  
}

h1 {
  font-size: 50px;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  color: #000033;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: underline;
}

p {
  font-size: 20px;
  font-family: 'Mitr', sans-serif;
  text-align: justify;
  color: #000000;
}

strong {
  font-weight: bold;
  color: #000066;
  font-family: "Sarabun", sans-serif;
  font-size: 20px;
}

.gallery {
  gap: 80px;
  justify-content: center;
  display: flex;
  margin: 20px 0;
  
}

.gallery img {
  width: 200px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  margin: 20px auto;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 20px;
}

thead {
  background-color: #D3D3D3;
  font-weight: bold;
  color: #000000;
  
}

td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  height: 40px;
  word-wrap: break-word;
}

.mon {background-color: #FFFF33;}
.tue {background-color: #FF33CC;}
.wed {background-color: #7FFF00;}
.thu {background-color: #FF9900;}
.fri {background-color: #3366FF;}
.sat {background-color: #CC00FF;}
.sun {background-color: #CC0000;}
.intro {background-color: #FFFF66;}
.eng {background-color: #FFFF66;}
.stort {background-color: #FFCCCC;}
.compro {background-color: #FFCCCC;}
.design {background-color: #FFCCCC;}
.happy {background-color: #8bc2f8;}

div {
  border: 8px solid #3366FF;
  padding: 20px 80px;
  background: #72abd1;
  width: 100px;
  border-radius: 45px;
}

