.grid-container {
    display: grid; /* display property is set to grid or inline-grid. */
    grid-template-areas: 'myArea myArea myArea myArea myArea';
    /*column-gap: 50px;
    row-gap: 50px;*/
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
    }
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    }
.item8 {
    grid-area: 2/1/span 2/span 3;
}
.item1 {
grid-area: myArea;
}
