* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden; background-color: #2d3250;
}

.topnav a {
    float: left; display: block; color: white; text-align: center; padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #f9c235;
    color: black;
}

.content {
    background-color: #424769; padding: 10px;
    height: 200px; 
}

.footer , p {
    background-color: #727798; padding: 10px;
    color: black;
}

